<% content_for(:page_header) { 'My Documents' } %>
<div class='flex flex-row w-full'>
  <h2 class='buyers__section-head flex-1'>RFPs</h2>
  <%= link_to('New RFP', new_buyers_rfp_path) %>
</div>

<table class='buyers__documents-table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created on</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.name %></td>
        <td><%= l(document.created_at.to_date, format: :long) %></td>
        <td class='buyers__documents-table-actions'>
          <%= link_to edit_buyers_rfp_path(document), aria: {label: 'edit'}  do %>
            <% inline_svg('icon_edit.svg') %>
          <% end %>
          <%= link_to buyers_rfp_path(document) do %>
            <% inline_svg('icon_show.svg') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
