<fieldset class='buyers__fieldset'>
  <legend class='buyers__legend'>Local Produce</legend>
  <p>
    How much produce should be grown locally? We'll add this requirement to RFPs, and you can change it later.
  </p>
  <div class="field">
    <%= f.label :local_percentage, 'Local percentage', class: 'text-field-label' %>
    <%= f.select :local_percentage, ((25..60).step(5)).map { |value| ["#{value}%", value] }, {}, class: 'select' %>
  </div>
</fieldset>

<fieldset class='buyers__fieldset' role='radiogroup'>
  <legend class='buyers__legend'>Price Verification</legend>
  <p>
    Would you like vendors to send you historical item prices? This is an easy way to check if you're getting an accurate quote.
  </p>
  <div class="field">
    <%= f.radio_button :price_verified, true%>
    <%= f.label :price_verified, 'Verify product prices for the previous school year', value: true, class: 'radio-label' %>
  </div>

  <div class="field">
    <%= f.radio_button :price_verified, false%>
    <%= f.label :price_verified, 'Do not verify pricing', value: false, class: 'radio-label' %>
  </div>
</fieldset>

<fieldset class='buyers__fieldset' role='radiogroup'>
  <legend class='buyers__legend'>Piggyback Clause</legend>
  <p>
    Would you like to offer a piggyback clause in your contract? An explainer about piggyback clauses is available at
    <%= link_to 'Cornell.', 'https://www.clrp.cornell.edu/q-a/243-Piggybacking.html' %>
  </p>
  <div class="field">
    <%= f.radio_button :allow_piggyback, true%>
    <%= f.label :allow_piggyback, 'Allow other districts to piggyback on this RFP\'s pricing', value: true, class: 'radio-label' %>
  </div>

  <div class="field">
    <%= f.radio_button :allow_piggyback, false%>
    <%= f.label :allow_piggyback, 'Do not add a piggyback clause', value: false, class: 'radio-label' %>
  </div>
</fieldset>
<fieldset class='buyers__fieldset'>
  <legend class='buyers__legend'>Insurance Requirements</legend>
  <p>
    What insurance coverage do you require from vendors?
    Your business office or legal counsel may know these numbers.
  </p>
  <div class="field">
    <%= f.label :required_insurance_per_incident, 'Per-incident liability limit', class: 'text-field-label' %>
    <%= f.number_field :required_insurance_per_incident, class: 'text-field' %>
  </div>

  <div class="field">
    <%= f.label :required_insurance_aggregate, 'Aggregate liability limit', class: 'text-field-label' %>
    <%= f.number_field :required_insurance_aggregate, class: 'text-field' %>
  </div>

  <div class="field">
    <%= f.label :required_insurance_automobile, 'Automobile liability limit', class: 'text-field-label' %>
    <%= f.number_field :required_insurance_automobile, class: 'text-field' %>
  </div>
</fieldset>

<div class='buyers__actions'>
  <div class='buyers__action'>
    <%= f.submit 'Next', class: 'button-primary' %>
  </div>
  <div class='buyers__action'>
    <%= f.submit 'Save and exit', class: 'button-secondary' %>
  </div>
</div>

