<h2 class='buyers__section-head'>District Demographics</h2>

<div class="field">
  <%= f.label :district_name, 'District Name', class: 'text-field-label' %>
  <%= f.text_field :district_name, required: true, class: 'text-field' %>
</div>

<div class="field">
  <%= f.label :city, 'City', class: 'text-field-label' %>
  <%= f.text_field :city, class: 'text-field' %>
</div>

<div class="field">
  <%= f.label :county, 'County', class: 'text-field-label' %>
  <%= f.text_field :county, class: 'text-field' %>
</div>

<div class='form-row'>
  <div class="field">
    <%= f.label :enrolled_students_number, 'Number of enrolled students', class: 'text-field-label' %>
    <%= f.number_field :enrolled_students_number, class: 'text-field' %>
  </div>

  <div class="field">
    <%= f.label :daily_meals_number, 'Number of daily meals served', class: 'text-field-label' %>
    <%= f.number_field :daily_meals_number, class: 'text-field' %>
  </div>
</div>

<div class='buyers__actions'>
  <div class='buyers__action'>
    <%= f.submit 'Next', class: 'button-primary' %>
  </div>
  <div class='buyers__action'>
    <%= f.submit 'Save and exit', class: 'button-secondary' %>
  </div>
</div>

