<% content_for(:page_header) { 'District Profile' } %>
<table class='buyers__display-form'>
  <thead class='buyers__table-head'>
    <tr>
      <th>
        <h2>District Demographics</h2>
      </th>
      <th>
        <%= link_to('Edit', edit_buyers_district_profile_path) %>
      </th>
    </tr>
  </thead>
  <tr>
    <td class='buyers__display-field-label'>District name</td>
    <td><%=@district_profile.district_name%></td>
  </tr>
  <tr>
    <td class='buyers__display-field-label'>City</td>
    <td><%=@district_profile.city%></td>
  </tr>
  <tr>
    <td class='buyers__display-field-label'>County</td>
    <td><%=@district_profile.county%></td>
  </tr>
  <tr>
    <td class='buyers__display-field-label'>City</td>
    <td><%=@district_profile.city%></td>
  </tr>
  <tr>
    <td class='buyers__display-field-label'>Number of enrolled students</td>
    <td><%=@district_profile.enrolled_students_number%></td>
  </tr>
  <tr>
    <td class='buyers__display-field-label'>Number of daily meals served</td>
    <td><%=@district_profile.daily_meals_number%></td>
  </tr>
  <thead class='buyers__table-head'>
    <tr>
      <th>
        <h2>Contact Information</h2>
      </th>
      <th>
        <%= link_to('Edit', edit_buyers_district_profile_contact_path) %>
      </th>
    </tr>
  </thead>
  <tr>
    <td class='buyers__display-field-label'>Full name</td>
    <td><%=@district_profile.contact_full_name%></td>
  </tr>
  <tr>
    <td class='buyers__display-field-label'>Department name</td>
    <td><%=@district_profile.contact_department_name%></td>
  </tr>
  <tr>
    <td class='buyers__display-field-label'>Title</td>
    <td><%=@district_profile.contact_title%></td>
  </tr>
  <tr>
    <td class='buyers__display-field-label'>Phone number</td>
    <td><%=@district_profile.contact_phone_number%></td>
  </tr>
  <tr>
    <td class='buyers__display-field-label'>Mailing address</td>
    <td><%=@district_profile.contact_mailing_address_street%></td>
  </tr>
  <tr>
    <td class='buyers__display-field-label'>City</td>
    <td><%=@district_profile.contact_mailing_address_city%></td>
  </tr>
  <tr>
    <td class='buyers__display-field-label'>State</td>
    <td><%=@district_profile.contact_mailing_address_state%></td>
  </tr>
  <tr>
    <td class='buyers__display-field-label'>ZIP code</td>
    <td><%=@district_profile.contact_mailing_address_zip%></td>
  </tr>
  <thead class='buyers__table-head'>
    <tr>
      <th>
        <h2>Procurement Terms</h2>
      </th>
      <th>
        <%= link_to('Edit', edit_buyers_district_profile_procurement_path) %>
      </th>
    </tr>
  </thead>
  <tr>
    <td class='buyers__display-field-label'>Local percentage</td>
    <td><%=number_to_percentage(@district_profile.local_percentage, precision: 0)%></td>
  </tr>
  <tr>
    <td class='buyers__display-field-label'>Verify pricing</td>
    <td><%=@district_profile.price_verified%></td>
  </tr>
  <tr>
    <td class='buyers__display-field-label'>Add a piggyback clause</td>
    <td><%=@district_profile.allow_piggyback%></td>
  </tr>
  <tr>
    <td class='buyers__display-field-label'>Per-incident liability limit</td>
    <td><%=number_to_currency(@district_profile.required_insurance_per_incident, precision: 0)%></td>
  </tr>
  <tr>
    <td class='buyers__display-field-label'>Aggregate liability limit</td>
    <td><%=number_to_currency(@district_profile.required_insurance_aggregate, precision: 0)%></td>
  </tr>
  <tr>
    <td class='buyers__display-field-label'>Automobile liability limit</td>
    <td><%=number_to_currency(@district_profile.required_insurance_automobile, precision: 0)%></td>
  </tr>
</table>
<div class='buyers__table-head flex'>
  <div class='flex-1'>
    <h2>Delivery Locations</h2>
  </div>
  <div>
    <%= link_to('Edit', buyers_district_profile_locations_path) %>
  </div>
</div>
<%= render partial: 'buyers/locations/locations', locals: {locations: @current_buyer.locations} %>

