<% content_for(:page_header) { 'District Profile' } %>
<%= render(FormErrorsComponent.new(errors: @district_profile.errors, scope: :complete)) %>

<table class='buyers__display-form'>
  <thead class='buyers__table-head'>
    <tr>
      <th>
        <h2 class='whitespace-nowrap'>District Demographics</h2>
      </th>
      <th>
        <%= link_to('Edit', edit_buyers_district_profile_path, aria: {label: 'Edit district demographics'}) %>
      </th>
    </tr>
  </thead>
  <%= render partial: 'display_field', locals: {attribute: 'district_name'} %>
  <%= render partial: 'display_field', locals: {attribute: 'city'} %>
  <%= render partial: 'display_field', locals: {attribute: 'county'} %>
  <%= render partial: 'display_field', locals: {attribute: 'enrolled_students_number'} %>

  <thead class='buyers__table-head'>
    <tr>
      <th>
        <h2>Contact Information</h2>
      </th>
      <th>
        <%= link_to('Edit', edit_buyers_district_profile_contact_path, aria: {label: 'Edit contact information'}) %>
      </th>
    </tr>
  </thead>
  <%= render partial: 'display_field', locals: {attribute: 'contact_full_name'} %>
  <%= render partial: 'display_field', locals: {attribute: 'contact_department_name'} %>
  <%= render partial: 'display_field', locals: {attribute: 'contact_title'} %>
  <%= render partial: 'display_field', locals: {attribute: 'contact_phone_number'} %>
  <%= render partial: 'display_field', locals: {attribute: 'contact_mailing_address_street'} %>
  <%= render partial: 'display_field', locals: {attribute: 'contact_mailing_address_city'} %>
  <%= render partial: 'display_field', locals: {attribute: 'contact_mailing_address_state'} %>
  <%= render partial: 'display_field', locals: {attribute: 'contact_mailing_address_zip'} %>

  <thead class='buyers__table-head'>
    <tr>
      <th>
        <h2>Procurement Terms</h2>
      </th>
      <th>
        <%= link_to('Edit', edit_buyers_district_profile_procurement_path, aria: {label: 'Edit procurement terms'}) %>
      </th>
    </tr>
  </thead>
  <%= render partial: 'display_field', locals: {attribute: 'local_percentage', display_value: number_to_percentage(@district_profile.local_percentage, precision: 0)} %>
  <%= render partial: 'display_field', locals: {attribute: 'price_verified'} %>
  <%= render partial: 'display_field', locals: {attribute: 'allow_piggyback'} %>
  <%= render partial: 'display_field', locals: {attribute: 'required_insurance_per_incident', display_value: number_to_currency(@district_profile.required_insurance_per_incident, precision: 0)} %>
  <%= render partial: 'display_field', locals: {attribute: 'required_insurance_aggregate', display_value: number_to_currency(@district_profile.required_insurance_aggregate, precision: 0)} %>
  <%= render partial: 'display_field', locals: {attribute: 'required_insurance_automobile', display_value: number_to_currency(@district_profile.required_insurance_automobile, precision: 0)} %>
</table>
<div class='buyers__table-head flex'>
  <div class='flex-1'>
    <h2>Delivery Locations</h2>
  </div>
  <div>
    <%= link_to('Edit', buyers_district_profile_locations_path, aria: {label: 'Edit delivery locations'}) %>
  </div>
</div>
<div class='buyers__locations'>
  <%= render partial: 'buyers/locations/locations', locals: {locations: @district_profile.locations} %>
</div>
