<%= render layout: 'devise/shared/devise_layout', locals: {title: "Resend confirmation instructions"} do %>
  <%= render(FlashComponent.new(flash: flash)) %>
  <div class="bg-white mb-4 px-8 pt-6 pb-8 rounded shadow-lg">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, data: {turbo: false} }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-4">
        <%= f.label :email, class: "block mb-2 text-gray-700 text-sm" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "text-field" %>
      </div>

      <div class="actions mb-4 mt-8">
        <%= f.submit "Resend instructions", class: "button" %>
      </div>
    <% end %>
  </div>

  <div class="text-center">
    <%= render "devise/shared/links" %>
  </div>
<% end %>

