<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {data: {turbo: false}}) do |f| %>
  <div class="mb-6">
    <%= f.label :email %>
    <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    <% if f.object.errors.full_messages_for(:email).present? %>
      <p class="text-sm text-red-800"><%= f.object.errors.full_messages_for(:email).first %></p>
    <% end %>
  </div>

  <div>
    <%= f.submit t(".submit") %>
  </div>
<% end %>
