<%= turbo_frame_tag 'buyers-district-profile-location' do %>
  <%= form_for [:buyers, :district_profile, location], as: :location, html: {data: {turbo_frame: '_top', controller: 'autoplaces', action: 'google-maps-callback@window->autoplaces#initAutocomplete', autoplaces_country_value: ['us']}} do |f| %>
    <div class="divide-y divide-gray-200">
      <div class="space-y-4">
        <div class="grid grid-cols-1 gap-y-4 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-4">
            <%= f.label :name %>
            <%= f.text_field :name, required: true %>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-y-4 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-6">
            <%= f.label :street_address %>
            <%= f.text_field :street_address, required: true, data: {action: 'keydown->autoplaces#preventSubmit', autoplaces_target: 'address'} %>
          </div>

          <div class="sm:col-span-2">
            <%= f.label :city %>
            <%= f.text_field :city, data: {autoplaces_target: 'city'} %>
          </div>

          <div class="sm:col-span-2">
            <%= f.label :state %>
            <%= f.text_field :state, data: {autoplaces_target: 'state'} %>
          </div>

          <div class="sm:col-span-2">
            <%= f.label :zip_code %>
            <%= f.text_field :zip_code, data: {autoplaces_target: 'postalCode'} %>
          </div>
        </div>
      </div>

      <div class="pt-4 mt-4">
        <div class="flex justify-start space-x-4">
          <%= f.button t('.submit'), class: 'forms-submit' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
