<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {data: {turbo: false}}) do |f| %>
  <div class="mb-6">
    <%= f.label :full_name %>
    <%= f.text_field :full_name, required: true, autofocus: true, autocomplete: "on" %>
    <% if f.object.errors.full_messages_for(:full_name).present? %>
      <p class="text-sm text-red-800"><%= f.object.errors.full_messages_for(:full_name).first %></p>
    <% end %>
  </div>

  <div class="mb-6">
    <%= f.label :email %>
    <%= f.email_field :email, required: true, autocorrect: false, autocapitalize: false, autocomplete: "email" %>
    <% if f.object.errors.full_messages_for(:email).present? %>
      <p class="text-sm text-red-800"><%= f.object.errors.full_messages_for(:email).first %></p>
    <% end %>
  </div>

  <div class="mb-6">
    <%= f.label :password %>
    <%= f.password_field :password, required: true, autocomplete: "new-password" %>
    <% if f.object.errors.full_messages_for(:password).present? %>
      <p class="text-sm text-red-800"><%= f.object.errors.full_messages_for(:password).first %></p>
    <% elsif @minimum_password_length %>
      <p class="text-sm text-gray-800">(<%= @minimum_password_length %> characters minimum)</p>
    <% end %>
  </div>

  <div class="mb-6">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
    <% if f.object.errors.full_messages_for(:password_confirmation).present? %>
      <p class="text-sm text-red-800"><%= f.object.errors.full_messages_for(:password_confirmation).first %></p>
    <% end %>
  </div>

  <div class="mb-6 flex items-center">
    <%= f.check_box :terms_and_conditions, required: true %>
    <%= f.label :terms_and_conditions, "I have read and agreed to the #{link_to('Terms and Conditions', terms_path, class: 'text-cyan-700 underline hover:text-cyan-600')}.".html_safe, class: 'ml-3 text-sm'%>
    <% if f.object.errors.full_messages_for(:terms_and_conditions).present? %>
      <p class="text-sm text-red-800"><%= f.object.errors.full_messages_for(:terms_and_conditions).first %></p>
    <% end %>
  </div>

  <div>
    <%= f.submit t(".submit") %>
  </div>
<% end %>
