<%= turbo_frame_tag 'buyers-rfp' do %>
  <%= form_for [:buyers, proposal], as: :rfp, html: {data: {turbo_frame: '_top'}} do |f| %>
    <div class="divide-y divide-gray-200">
      <div class="space-y-4">
        <div class="grid grid-cols-1 gap-y-4 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <%= f.label :start_year %>
            <%= f.select :start_year, (1.hour.from_now.year..5.years.from_now.year).map { |year| ["#{year} - #{year+1}", year] }, {} %>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-y-4 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <%= f.label :procurement_type_id %>
            <%= f.select :procurement_type_id, ProcurementType.published.map { |w| [w.name, w.id] }, {} %>
          </div>
        </div>
      </div>

      <div class="pt-4 mt-8">
        <div class="flex justify-start space-x-4">
          <%= f.button 'Next', class: 'forms-submit' %>
          <%= f.button 'Save draft', class: 'forms-submit--outline', name: :draft, value: true %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
