<div class="space-y-4">
  <h2 class="text-xl font-bold md:text-2xl"><%= t('.title') %></h2>

  <%= render(Buyers::Proposals::Download::Component.new(proposal: @rfp)) %>

  <%= render(Buyers::DistrictProfiles::Errors::Component.new(district_profile: @rfp.district_profile, sections: [:district_information, :rfp_contact, :procurement_terms])) %>

  <%= render(Buyers::Proposals::Errors::Component.new(proposal: @rfp, sections: [:rfp_purpose, :scores, :deliveries, :item_list])) %>

  <div class="pt-4 mt-4">
    <%= render(Buyers::Proposals::Section::Component.new(name: t('.rfp_purpose'), description: t('.rfp_purpose_description'), path: edit_buyers_rfp_path(@rfp))) do |component| %>
      <% component.field(proposal: @rfp, section: :rfp_purpose, name: :procurement_type) do %>
        <%= @rfp.procurement_type_name %>
      <% end %>
      <% component.field(proposal: @rfp, section: :rfp_purpose, name: :start_year) do %>
        <%= @rfp.school_year %>
      <% end %>
    <% end %>
  </div>

  <div class="pt-4 mt-4">
    <%= render(Buyers::DistrictProfiles::Section::Component.new(name: t(:district_information, scope: [:buyers, :district_profiles, :show]), description: t(:district_information_description, scope: [:buyers, :district_profiles, :show]), path: edit_buyers_district_profile_path)) do |component| %>
      <% component.field(district_profile: @rfp.district_profile, section: :district_information, name: :district_name) %>
      <% component.field(district_profile: @rfp.district_profile, section: :district_information, name: :city) %>
      <% component.field(district_profile: @rfp.district_profile, section: :district_information, name: :county) %>
      <% component.field(district_profile: @rfp.district_profile, section: :district_information, name: :enrolled_students_number) %>
    <% end %>
  </div>

  <div class="pt-4 mt-4">
    <%= render(Buyers::DistrictProfiles::Section::Component.new(name: t(:rfp_contact, scope: [:buyers, :district_profiles, :show]), description: t(:rfp_contact_description, scope: [:buyers, :district_profiles, :show]), path: edit_buyers_district_profile_contact_path)) do |component| %>
      <% component.field(district_profile: @rfp.district_profile, section: :rfp_contact, name: :contact_full_name) %>
      <% component.field(district_profile: @rfp.district_profile, section: :rfp_contact, name: :contact_department_name) %>
      <% component.field(district_profile: @rfp.district_profile, section: :rfp_contact, name: :contact_title) %>
      <% component.field(district_profile: @rfp.district_profile, section: :rfp_contact, name: :contact_phone_number) %>
      <% component.field(district_profile: @rfp.district_profile, section: :rfp_contact, name: :contact_mailing_address) do %>
        <% if @rfp.district_profile.address.present? %>
          <%= @rfp.district_profile.address %>
        <% else %>
          <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800">
            <%= t('.incomplete') %>
          </span>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="pt-4 mt-4">
    <%= render(Buyers::DistrictProfiles::Section::Component.new(name: t(:procurement_terms, scope: [:buyers, :district_profiles, :show]), description: t(:procurement_terms_description, scope: [:buyers, :district_profiles, :show]), path: edit_buyers_district_profile_procurement_path)) do |component| %>
      <% component.field(district_profile: @rfp.district_profile, section: :procurement_terms, name: :local_percentage) do %>
        <%= number_to_percentage(@rfp.district_profile.local_percentage, precision: 0) %>
      <% end %>
      <% component.field(district_profile: @rfp.district_profile, section: :procurement_terms, name: :price_verified) do %>
        <% unless @rfp.district_profile.price_verified.nil? %>
          <%= @rfp.district_profile.price_verified ? t('.price_verified') : t('.price_not_verified') %>
        <% end %>
      <% end %>
      <% component.field(district_profile: @rfp.district_profile, section: :procurement_terms, name: :allow_piggyback) do %>
        <% unless @rfp.district_profile.allow_piggyback.nil? %>
          <%= @rfp.district_profile.allow_piggyback ? t('.piggyback_included') : t('.piggyback_not_included') %>
        <% end %>
      <% end %>
      <% component.field(district_profile: @rfp.district_profile, section: :procurement_terms, name: :required_insurance_per_incident) do %>
        <%= number_to_currency(@rfp.district_profile.required_insurance_per_incident, precision: 0) %>
      <% end %>
      <% component.field(district_profile: @rfp.district_profile, section: :procurement_terms, name: :required_insurance_aggregate) do %>
        <%= number_to_currency(@rfp.district_profile.required_insurance_aggregate, precision: 0) %>
      <% end %>
      <% component.field(district_profile: @rfp.district_profile, section: :procurement_terms, name: :required_insurance_automobile) do %>
        <%= number_to_currency(@rfp.district_profile.required_insurance_automobile, precision: 0) %>
      <% end %>
    <% end %>
  </div>

  <div class="pt-4 mt-4">
    <%= render(Buyers::Scores::Component.new(name: t('.scores'), description: t('.scores_description'), path: buyers_rfp_scores_path(@rfp))) do |component| %>
      <% @rfp.scores.each do |score| %>
        <% component.category(name: score.score_category.name, value: score.value) %>
      <% end %>
    <% end %>
  </div>

  <div class="pt-4 mt-4">
    <%= render(Buyers::Proposals::Section::Component.new(name: t('.deliveries'), description: t('.deliveries_description'), path: buyers_rfp_deliveries_path(@rfp))) do |component| %>
      <%= render(Buyers::Deliveries::List::Component.new(deliveries: @rfp.deliveries.page.per(@rfp.deliveries.size + 1))) %>
    <% end %>
  </div>

  <div class="pt-4 mt-4">
    <%= render(Buyers::Proposals::Section::Component.new(name: t('.item_list'), path: edit_buyers_rfp_item_list_path(@rfp))) do |component| %>
      <% if @rfp.item_list.attached? %>
        <ul role="list" class="border border-gray-200 rounded-md divide-y divide-gray-200">
          <li role="listitem" class="pl-3 pr-4 py-3 flex items-center justify-between text-sm group">
            <div class="w-0 flex-1 flex items-center">
              <%= inline_svg_tag 'buyers/item_lists/attachment.svg', class: 'flex-shrink-0 h-5 w-5 text-gray-400', aria_hidden: true %>
              <span class="ml-2 flex-1 w-0 truncate">
                <%= @rfp.item_list.filename %>
                <span class="text-gray-600 ml-2"><%= l(@rfp.item_list.created_at, format: :long) %></span>
              </span>
            </div>
            <%= link_to t('.download'), rails_blob_path(@rfp.item_list, disposition: 'attachment'), class: 'block ml-4 flex-shrink-0 text-medium text-cyan-700 hover:text-cyan-500' %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
