<div class="devise__container">
  <%= inline_svg_tag('logo.svg', class: 'devise__logo', alt: t('.logo')) %>
  <h1 class="devise__title"><%= title %></h1>
  <p class="devise__links">
    <%- if controller_name != 'sessions' %>
      <%= t('.or_html', link: link_to(t('.login'), new_session_path(resource_name))) %><br />
    <% end %>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= t('.or_html', link: link_to(t('.create_account'), new_registration_path(resource_name))) %><br />
    <% end %>
  </p>
  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <p class="devise__links">
      <%= link_to t('.confirmation'), new_confirmation_path(resource_name) %><br />
    </p>
  <% end %>
</div>
