<div class="flex items-center">
  <div class="flex-1">
    <h3 class="text-lg leading-6 font-medium text-gray-900"><%= name %></h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-600 hidden md:block"><%= description %></p>
  </div>
  <div>
    <%= link_to t('.update'), path, class: 'font-medium text-cyan-700 hover:text-cyan-500' %>
  </div>
</div>

<div class="mt-5 border-t border-gray-200">
  <dl class="sm:divide-y sm:divide-gray-200">
    <% fields.each do |field| %>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
        <%= field %>
      </div>
    <% end %>
  </dl>
  <%= content %>
</div>
