<div class="space-y-4">
  <h2 class="text-xl font-bold md:text-2xl"><%= t('.title') %></h2>
  <section class="relative block w-full border-2 border-gray-300 border-dashed rounded-lg p-12 text-center">
    <%= inline_svg_tag 'buyers/proposals/new.svg', class: 'mx-auto h-12 w-12 text-gray-400', aria_hidden: true %>
    <h2 class="mt-2 font-medium text-gray-900"><%= t('.prompt') %></h2>
    <p class="mt-1 text-sm text-gray-600"><%= t('.description') %></p>
    <div class="mt-6">
      <%= link_to new_buyers_rfp_path, class: 'inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-cyan-700 hover:bg-cyan-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500' do %>
        <%= inline_svg_tag 'buyers/proposals/plus.svg', class: '-ml-1 mr-2 h-5 w-5', aria_hidden: true %>
        <span><%= t('.new') %></span>
      <% end %>
    </div>
  </section>
</div>
