<div class="table-row group">
  <%= link_to edit_buyers_district_profile_location_path(item), class: 'table-cell border-t px-6 py-4 whitespace-nowrap text-sm text-gray-900 group-hover:bg-blue-50', aria: {labelledby: dom_id(item)} do %>
    <div id="<%= dom_id(item) %>" class="group truncate text-sm">
      <p class="truncate font-medium text-gray-800 group-hover:text-gray-900">
        <%= item.name %>
      </p>
    </div>
  <% end %>
  <%= link_to edit_buyers_district_profile_location_path(item), class: 'hidden px-6 py-4 whitespace-nowrap text-sm text-gray-500 md:table-cell border-t group-hover:bg-blue-50', aria: {labelledby: dom_id(item)} do %>
    <p class="truncate text-gray-800 group-hover:text-gray-900">
      <%= item.street_address %>
    </p>
    <p class="text-gray-500">
      <%= item.city %>, <%= item.state %>  <%= item.zip_code %>
    </p>
  <% end %>
  <div class="table-cell border-t px-6 py-4 text-right group-hover:bg-blue-50">
    <%= button_to buyers_district_profile_location_path(item), method: :delete, class: 'flex space-x-1 items-center text-sm text-gray-500 hover:text-red-700', data: {confirm: t('.confirm')} do %>
      <%= inline_svg_tag 'buyers/locations/destroy.svg', class: 'h-4 w-4' %>
      <span><%= t('.destroy') %></span>
    <% end %>
  </div>
</div>
