<%= turbo_frame_tag 'buyers-item-list' do %>
  <div class="space-y-8">
    <div class="space-y-2">
      <h3 class="text-sm font-medium text-gray-600"><%= t('.step_1') %></h3>
      <p class="mt-1 text-sm text-gray-900"><%= t('.step_1_description') %></p>
      <ul role="list" class="border border-gray-200 rounded-md divide-y divide-gray-200">
        <li role="listitem" class="pl-3 pr-4 py-3 flex items-center justify-between text-sm group">
          <div class="w-0 flex-1 flex items-center">
            <%= inline_svg_tag 'buyers/item_lists/attachment.svg', class: 'flex-shrink-0 h-5 w-5 text-gray-400', aria_hidden: true %>
            <span class="ml-2 flex-1 w-0 truncate">
              Item List.xlsx
            </span>
          </div>
          <%= link_to t('.download'), Rails.application.config.item_list_template_link, class: 'block ml-4 flex-shrink-0 text-medium text-cyan-700 hover:text-cyan-500' %>
        </li>
      </ul>
    </div>

    <div class="space-y-2">
      <h3 class="text-sm font-medium text-gray-600"><%= t('.step_2') %></h3>

      <% if proposal.item_list.attached? %>
        <ul role="list" class="border border-gray-200 rounded-md divide-y divide-gray-200">
          <li role="listitem" class="pl-3 pr-4 py-3 flex items-center justify-between text-sm group">
            <div class="w-0 flex-1 flex items-center">
              <%= inline_svg_tag 'buyers/item_lists/attachment.svg', class: 'flex-shrink-0 h-5 w-5 text-gray-400', aria_hidden: true %>
              <span class="ml-2 flex-1 w-0 truncate">
                <%= proposal.item_list.filename %>
                <span class="text-gray-600 ml-2"><%= l(proposal.item_list.created_at, format: :long) %></span>
              </span>
            </div>
            <%= link_to t('.download'), rails_blob_path(proposal.item_list, disposition: 'attachment'), class: 'block ml-4 flex-shrink-0 text-medium text-cyan-700 hover:text-cyan-500' %>
          </li>
        </ul>
      <% end %>

      <%= form_for proposal, url: buyers_rfp_item_list_path(proposal.id), method: :patch, html: {class: 'flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md', data: {turbo_frame: '_top', controller: 'autosave', autosave_delay_value: '1000'}} do |f| %>
        <div class="space-y-1 text-center">
          <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
            <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <div class="text-center text-sm text-gray-600">
            <label for="rfp_item_list" class="relative cursor-pointer rounded-md font-medium text-cyan-700 hover:text-cyan-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-cyan-500">
              <span><%= t('.upload') %></span>
              <%= f.file_field :item_list, required: true, class: 'sr-only', data: {action: 'change->autosave#save'} %>
            </label>
          </div>
          <p class="text-xs text-gray-600"><%= t('.file_types') %></p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
