<div>
  <div class="space-y-8">
    <%= render(Buyers::Steps::Component.new(title: Rfp.model_name.human)) do |component| %>
      <%= component.step index: 1, current_index: 2, section: t(:purpose, scope: [:activerecord, :attributes, :rfp]), path: edit_buyers_rfp_path(@rfp), valid: @rfp.valid?(:purpose) %>
      <%= component.step index: 2, current_index: 2, section: t(:scores, scope: [:activerecord, :attributes, :rfp]), path: buyers_rfp_scores_path(@rfp), valid: @rfp.valid?(:scores) %>
      <%= component.step index: 3, current_index: 2, section: t(:deliveries, scope: [:activerecord, :attributes, :rfp]), path: buyers_rfp_deliveries_path(@rfp), valid: @rfp.valid?(:deliveries) %>
      <%= component.step index: 4, current_index: 2, section: t(:item_list, scope: [:activerecord, :attributes, :rfp]), path: edit_buyers_rfp_item_list_path(@rfp), valid: @rfp.item_list.present? %>
    <% end %>

    <div class="space-y-2">
      <div class="space-y-2">
        <p class="text-sm text-gray-600"><%= t('.lead_html', name: @preset.name) %></p>
        <p class="text-sm text-gray-600"><%= @preset.description %></p>
      </div>
    </div>
    <% unless @rfp.procurement_type.score_presets.published.where.not(id: @preset.id).empty? %>
      <div class="space-y-2 sm:bg-gray-50 sm:rounded-lg sm:p-6">
        <h2 class="text-lg leading-6 font-medium text-gray-900"><%= t('.presets_title') %></h2>
        <div class="space-y-2">
          <p class="text-sm text-gray-600"><%= t('.presets_description') %></p>
        </div>
        <div>
          <div class="flex justify-start space-x-4 mt-4">
            <% @rfp.procurement_type.score_presets.published.where.not(id: @preset.id).each do |preset| %>
              <%= link_to preset.name,  buyers_rfp_score_preset_path(@rfp, preset), class: 'forms-submit--outline' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="pt-4 mt-4" data-controller='buyers--score-presets'>
    <%= render(Buyers::ScorePresets::Component.new(current_rfp: @rfp, preset: @preset)) %>
  </div>

  <div class="pt-4 mt-4">
    <%= link_to("Apply", buyers_rfp_score_preset_path(@rfp, @preset), method: :put, class: 'forms-submit') %>
    <%= link_to("Cancel", buyers_rfp_scores_path(@rfp), class: 'forms-submit--outline') %>
  </div>
</div>
