<div class="flex flex-col">
  <div class="align-middle min-w-full overflow-x-auto shadow overflow-hidden sm:rounded-lg">
    <div class="table min-w-full divide-y divide-gray-200">
      <div class="table-header-group">
        <div class="table-row">
          <div class="table-cell px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            <%= t('.location') %>
          </div>
          <div class="table-cell hidden px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider md:table-cell">
            <%= t('.times') %>
          </div>
          <div class="table-cell hidden px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider md:table-cell">
            <%= t('.deliveries') %>
          </div>
          <div class="table-cell px-6 py-3 bg-gray-50 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
            <span class="sr-only"><%= t('.actions') %></span>
          </div>
        </div>
      </div>
      <div class="table-row-group bg-white">
        <%= render(Buyers::Deliveries::List::Item::Component.with_collection(deliveries)) %>
      </div>
    </div>

    <nav class="w-full bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6" aria-label="<%= t('.pagination') %>">
      <p class="text-sm text-gray-700">
        <%= page_entries_info(deliveries, entry_name: t('.delivery')) %>
      </p>
      <% unless deliveries.total_pages.zero? %>
        <div class="flex-1 flex justify-between sm:justify-end">
          <%= link_to_prev_page deliveries, t('.previous'), class: 'relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50' %>
          <%= link_to_next_page deliveries, t('.next'), class: 'ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50' %>
        </div>
      <% end %>
    </nav>
  </div>
</div>
