<div class="divide-y divide-gray-200">
  <div class="space-y-8">
    <%= render(Buyers::Steps::Component.new(title: Rfp.model_name.human)) do |component| %>
      <%= component.step index: 1, current_index: 2, section: t(:purpose, scope: [:activerecord, :attributes, :rfp]), path: edit_buyers_rfp_path(@rfp), valid: @rfp.valid?(:purpose) %>
      <%= component.step index: 2, current_index: 2, section: t(:scores, scope: [:activerecord, :attributes, :rfp]), path: buyers_rfp_scores_path(@rfp), valid: @rfp.valid?(:scores) %>
      <%= component.step index: 3, current_index: 2, section: t(:deliveries, scope: [:activerecord, :attributes, :rfp]), path: buyers_rfp_deliveries_path(@rfp), valid: @rfp.valid?(:deliveries) %>
      <%= component.step index: 4, current_index: 2, section: t(:item_list, scope: [:activerecord, :attributes, :rfp]), path: edit_buyers_rfp_item_list_path(@rfp), valid: @rfp.item_list.present? %>
    <% end %>

    <div class="space-y-2">
      <h2 class="text-lg leading-6 font-medium text-gray-900"><%= t('.title') %></h2>
      <div class="space-y-2">
        <p class="text-sm text-gray-600"><%= t('.description') %></p>
        <p class="text-sm text-gray-600"><%= t('.rules_html') %></p>
        <p class="text-sm text-gray-600"><%= t('.custom_category_html', mail_link: mail_to(Rails.application.config.support_email, Rails.application.config.support_email, class: 'text-cyan-700 font-medium underline hover:text-cyan-600')) %></p>
      </div>
    </div>
  </div>

  <div class="pt-4 mt-4" data-controller='buyers--rfp-scores-component--rfp-scores'>
    <%= render(Buyers::RfpScoresComponent.new(current_rfp: @rfp)) %>
  </div>

  <div class="pt-4 mt-4">
    <%= link_to("Next", buyers_rfp_deliveries_path(@rfp), class: 'forms-submit') %>
  </div>
</div>
