<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>BidGenerator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', data: { turbo_track: :reload } %>
    <%= stylesheet_pack_tag 'application', media: :all, data: { turbo_track: :reload } %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600;700&display=swap" rel="stylesheet">
  </head>

  <body class="bg-gray-10">
    <main role="main">
      <%= yield %>
    </main>
  </body>
</html>
