<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>BidGenerator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', defer: true, data: { turbo_track: :reload } %>
    <%= javascript_include_tag "turbo", type: "module" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600;700&display=swap" rel="stylesheet">
    <%= yield :head %>
  </head>

  <body class="bg-gray-50">
    <main role="main">
      <%= yield %>
    </main>
  </body>
</html>
