<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>BidGenerator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', data: { turbo_track: :reload } %>
    <%= stylesheet_pack_tag 'application', media: :all, data: { turbo_track: :reload } %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600;700&display=swap" rel="stylesheet">
  </head>

  <body class="bg-gray-50 h-screen md:flex overflow-hidden">
    <%= render(Buyers::NavigationComponent.new(current_path: request.path, user: current_buyer)) %>
    <main class='flex-1 h-full overflow-y-scroll p-6 buyers__main buyers__main--<%= controller_path.parameterize %>-<%= action_name %>"' role='main'>
      <h1 class='buyers__page-title'>
        <%= content_for(:page_header) unless content_for(:page_header).blank?  %>
      </h1>
      <%= render(FlashComponent.new(flash: flash)) %>
      <div class='buyers__main-content'>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
